
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 

 

 body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: rgb(218, 165, 32);
 }
 
 

 header {
    background: #143774;
    color: white;
    text-align: center;
    padding: 1em 0;
 }
 
 
 nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 1em;
    transition: color 0.3s;
 }
 
 nav a:hover,
 nav a:focus {
    color: #1792d2;
 }
 

 .sidebar-widget {
    border: 1px solid #efefef;
    padding: 1em;
 }
 
 .widget-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5em;
 }
 
 .widget-recent-post-title {
    font-size: 1em;
    margin-bottom: 0.3em;
 }
 

 footer {
    background: #f8f8f8;
    color: #707070;
    text-align: center;
    padding: 1em 0;
 }
 
 .fa-heart {
    color: red;
 }

 @media (min-width: 768px) {
    .container-nav {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 1em 0;
    }
 
    nav ul {
       display: flex;
    }
 
    nav li {
       margin: 0 1em;
    }
 
    .container-flex {
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
    }
 
    main {
       width: 70%;
    }
    .article-title{
      margin-left: 10px;
      padding: 10px;
    }
 
    .sidebar {
       width: 30%;
       min-width: 250px;
       margin-left: 2em;
    }
 }
 